---
import { marked } from 'marked'
import { getEntryBySlug } from 'astro:content';
const { slug } = Astro.props;

const print = await getEntryBySlug('prints', slug);

if (!print) {
    return null;
}

const { Content } = await print.render();
---
<div id={print.slug} class="pt-16">
    <h2 class="text-3xl block">
        <span class="">{print.data.id}.</span> 
        <span class="italic font-bold">{print.data.title}</span>
    </h2>

    {print.data.image.filename ? (
        <figure class="block pt-4 pb-2">
            <img src=`/prints/${print.data.image.filename}` />
            <figcaption class="text-sm text-center italic pt-1">{print.data.image.caption}</figcaption>
        </figure>
    ) : (
        <div class="missing p-16 my-4 bg-gray-100 text-center italic">{print.data.image.missing_text}</div>
    )}

    <div class="pt-4"><span class="font-bold">Created:</span> {print.data.year}</div>

    {print.data.size.dimensions && (
        <div>
            <span class="font-bold">Image size:</span> {print.data.size.dimensions}
            {print.data.size.source !== null && (
                <span>(<a href="{print.data.size.source_url}">{print.data.size.source}</a>)</span>)
            }
        </div>
    )}

    {print.data.signed && (
        <div><span class="font-bold">Signed:</span> {print.data.signed}</div>
    )}

    {print.data.publications.length > 0 &&
        <div class="font-bold pt-2">Published in:</div>
        <ul class="list-disc pl-8 text-sm">
            {print.data.publications.map(p => (
                <li set:html={marked.parseInline(p)}></li>
            ))}
        </ul>
    }

    {print.data.museums.length > 0 &&
        <div class="font-bold pt-2">Museum collections:</div>
        <ul class="list-disc pl-8 text-sm">
        {print.data.museums.map(m => (
            <li><a href={m.url}>{m.name}</a></li>
        ))}
        </ul>
    }

    <div class="font-serif pt-8">
        <Content /> 
    </div>
</div>

<style>
    .missing {
        background-color: var(--missing);
    }
</style>