---
import { getEntryBySlug } from 'astro:content';
const { slug } = Astro.props;

const print = await getEntryBySlug('prints', slug);

const { Content } = await print.render();
---
<div id={print.data.slug} class="print">
    <h2>{print.data.title}</h2>
    <div>{print.data.year}</div>
    <div>{print.data.size.dimensions} {print.data.size.source !== null && (<a href="{print.data.size.source_url}">{print.data.size.source}</a>)}</div>
    <div>{print.data.signed}</div>

    <div class="content">
        <Content /> 
    </div>
</div>