---
import { marked } from 'marked'
import { getEntryBySlug } from 'astro:content';
import PrintImage from '../components/PrintImage.astro';

const { slug } = Astro.props;

const print = await getEntryBySlug('prints', slug);

if (!print) {
    return null;
}

const { Content } = await print.render();
---
<div id={print.data.id.toString()} class="print" data-id={print.data.id.toString()} data-slug={slug}>
    <h2 class="text-3xl block">
        <span class="anchor"><a href={"#" + print.data.id}>#</a></span>
        <span>{print.data.id}.</span> 
        <span class="italic font-bold">{print.data.title}</span>
    </h2>

    <PrintImage
        filename={print.data.image.filename},
        caption={print.data.image.caption},
        missing_text={print.data.image.missing_text}
        />

    <div class="pt-4"><span class="font-bold">Created:</span> {print.data.year}</div>

    {print.data.size.dimensions && (
        <div>
            <span class="font-bold">Image size:</span> {print.data.size.dimensions}
            {print.data.size.source !== null && (
                <span>(<a href={print.data.size.source_url}>{print.data.size.source}</a>)</span>)
            }
        </div>
    )}

    {print.data.signed && (
        <div><span class="font-bold">Signed:</span> {print.data.signed}</div>
    )}

    {print.data.publications.length > 0 &&
        <div class="font-bold pt-2">Publications</div>
        <ul class="list-disc ml-4 text-sm">
            {print.data.publications.map(p => (
                <li set:html={marked.parseInline(p)}></li>
            ))}
        </ul>
    }

    {print.data.museums.length > 0 &&
        <div class="font-bold pt-2">Collections</div>
        <ul class="list-disc ml-4 text-sm">
        {print.data.museums.map(m => (
            <li><a href={m.url}>{m.name}</a></li>
        ))}
        </ul>
    }

    <div class="content font-serif pt-8">
        <Content /> 
    </div>
</div>

<style>
    .print:not(:first-child) {
		margin-top: 4rem;
	}

    .anchor {
        margin-left: -1rem;
        opacity: 50%;
    }

    .anchor:hover {
        opacity: 100%;
    }

    .missing {
        background-color: var(--missing);
    }

    .content :global(ul) {
        padding-bottom: 0.5rem;
    }

	.content :global(li) {
        list-style: disc;
        margin-left: 1rem;
	}
</style>